body {background-color: antiquewhite;}

img {}

p1 {color: blue;}
li1 {background-color: rgb(235, 147, 147); text-align: center;}
 
p2 {color: darkcyan;}

p3 {color: darkred; font: 2em sans-serif;}

p4 {color: dimgray; float: right;}