body {
  background-color: blanchedalmond;
  padding-left: 30px;
}


h1 {
  font-size: 50px;
}
#p1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
}

#bio {
  font-size: 30px;
}
#edu {
  font-size: 30px;
  border: 10px solid cadetblue;
}
#job {
  font-size: 30px;
  border: 10px solid cadetblue;
}
#goals {
  font-size: 30px;
  border: 10px solid cadetblue;
}
#sky {
  font-size: 30px;
  border: 10px solid cadetblue;
} 
#ten {
  list-style-type: decimal;
  padding-bottom: 30px;
}
#p2 {
  padding: 10px;
  border: 2px dashed skyblue;
  border-radius: 10px; 
}

#sea {
  width: 350px;
  height: 350px; 
}
#Ollie {
  width: 250px;
  height: 350px;
}
#MMX {
  width: 250px;
  height: 350px;
}